venv/
__pycache__/
.env

# Models
*.gguf

# Model Training
# training/
# # Include these specific files
# !training/fine_tuning.py
# !training/requirements.txt

training/*unsloth_*
training/gguf_model/
training/llama.cpp/
training/outputs/
training/data.json
